<h2 style="color: #397fcf;margin-left: 2%;">Votre panier</h2>
<div class="panel-body" style="margin: 5%;margin-top: 0;">
    <ul class="list-group scrollbar-primary" style="margin-top: 3%;overflow-y:auto;max-height: 600px;width: 100%;">
      <li class="list-group-item" *ngFor="let art of panier" [routerLink]="['/client/store/article',art.title]" style="display: flex;cursor: pointer;">
        <div>
          <span>{{art.title}}</span>
          <br>
          <span>{{art.price}}€</span>
        </div> 
        <button class="btn btn-danger" style="margin-left: auto;" (click)="deleteArt(art)">X</button>
      </li>
    </ul>
</div>