<div class="content" role="main" style="margin-left: 5%;margin-top: 3%;">
    <div style="display: flex;">
        <div class="col-md-2">
            <label for="titreFilter">Titre</label>
            <input class="form-control" id="titreFilter" type="text" [ngModel]="titreFilter" (ngModelChange)="onInputChangeTitre($event)" placeholder="Filtrer par titre">
        </div>
        <div class="col-md-2">
            <label for="priceFilter">Prix maximum</label>
            <input class="form-control" id="priceFilter" type="number" [ngModel]="priceFilter" (ngModelChange)="onInputChangePrice($event)" placeholder="Filtrer par prix max">
        </div>
    </div>
</div>
<div style="display: flex;">
    <div style="margin: auto; width: 50%;">
        <app-list-product></app-list-product>
    </div>
    <div style="margin: auto; width: 50%;">
        <app-formulaire></app-formulaire>
    </div>    
</div>
